@section Styles {
    @*<style type="text/css">
            .list-group-item {
                margin: 0 !important;
                border: 0;
            }

            .btn-no-radius {
                border-radius: 0;
            }
        </style>*@
}

<div class="page-header">
    <h1><i class="fa fa-folder-open"></i>&nbsp;CCS Products <small>Overview</small></h1>
</div>

<!-- Home Section -->
<section ng-controller="homeController" class="search-section">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Conversions Master</div>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/MaterialBOMItem")">BOM</a></li>
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/WorkCenter")">Work Center</a></li>
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/ProductionVersion")">Production Version</a></li>
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/Routing")">Routing</a></li>
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/InspectionPlan")">Inspection Plan</a></li>
                    <li class="list-group-item"><i class="fa fa-tools"></i>&nbsp;<a href="@Url.Content("~/CCS/PackagingInstruction")">Packaging Instruction</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @*<script type="text/javascript">
            var ProductsViewModel = @Html.Raw(Json.Encode(ViewData["ProductsViewModel"]));
        </script>*@

    <script type="text/javascript" src="@Url.Content("~/Scripts/CCS/ccsController.js")"></script>
}